<!-- filamentdryer_settings.jinja2 -->
<div class="row-fluid">
    <div class="span12">
        <h3>Filament Dryer Settings</h3>

        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="temperature">Target Temperature (°C)</label>
                <div class="controls">
                    <input type="number" id="temperature" data-bind="value: settings.plugins.filamentdryer.target_temp">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="fan_control">Fan Always On?</label>
                <div class="controls">
                    <input type="checkbox" id="fan_control" data-bind="checked: settings.plugins.filamentdryer.fan_always_on">
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary" data-bind="click: function() { self.saveData() }">Save</button>
            </div>
        </form>
    </div>
</div>
