<div id="tab_plugin_filamentdryer" class="plugin-tab-content">
  <h3>Filament Dryer History</h3>
  <div style="height: 400px;">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id="dryerChart"></canvas>
  </div>
</div>
