<div class="section">
  <h3>Filament Dryer Settings</h3>
  <div class="control-group">
    <label>Fan Pin</label>
    <input type="number" data-bind="value: fan_pin">
  </div>
  <div class="control-group">
    <label>Heater Pin</label>
    <input type="number" data-bind="value: heater_pin">
  </div>
  <div class="control-group">
    <label>Target Temp</label>
    <input type="number" data-bind="value: target_temp">
  </div>
  <div class="control-group">
    <label>Tolerance</label>
    <input type="number" data-bind="value: tolerance">
  </div>
</div>
