<li id="filamentdryer-navbar">
    <button id="filamentdryer-toggle" class="btn btn-sm navbar-btn" data-bind="click: toggleDryer, css: { 'btn-danger': dryerOn(), 'btn-success': !dryerOn() }">
        <i class="fas fa-fire"></i> <span data-bind="text: dryerOn() ? 'Dryer ON' : 'Dryer OFF'"></span>
    </button>
</li>
